html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    height: 4em;
    color: black;
    background:powderblue;
}

section {
    #padding: 10px;
    margin-top: 4em;
    display: flex;
}

.menu{
    background: royalblue;
    width: 7000px;
}
menu_element{
    background: yellow;
    
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 4em;
}

.one{
    background:seagreen;
}

.two{
    background:yellowgreen;
}

.three{
    background:lightgreen;
}